Project_Itself\.vs\Project_Itself\v15
Project_Itself/.vs/Project_Itself/v15/ipch/AutoPCH/d39b4dc51506db8a/GREETINGS.ipch
Project_Itself/.vs/Project_Itself/v15/.suo
Project_Itself/.vs/Project_Itself/v15/Browse.VC.opendb
Project_Itself/.vs/Project_Itself/v15/ipch/AutoPCH/d3c6e0538ecbac09/GREETINGS.ipch
Project_Itself/.vs/Project_Itself/v15/ipch/AutoPCH/eb2112fa72566d10/MAIN.ipch
Project_Itself/.vs/Project_Itself/v15/.suo
Project_Itself/.vs/Project_Itself/v15/.suo
